[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=XO_QML
Exec=/usr/bin/single-instance /opt/XO_QML/bin/XO_QML
Icon=/usr/share/icons/hicolor/80x80/apps/XO_QML80.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
